{{ define "main" }}
    <main class="posts">

        {{- if .Content }}
            <div class="content">{{ .Content }}</div>
        {{- end }}

<!-- recent post code  -->
<!--<h3>LATEST POST</h3>

 {{ range first 3 .Pages }}

<ul id="menu">

      <li><a href="{{ .RelPermalink}}"><img{{ with .Params.cover }} src="/img/{{ . }}"{{ end }} alt="{{ .Title }}"></a></li>
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>

</ul>

  {{ end }}
-->
<hr>
<br />
<br />
<h2>Archive</h2>
        {{- range .Data.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{- range .Pages }}
                        <li class="post-item">
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }}</span>
                            </a>
                        </li>
                    {{- end }}
                </ul>
            </div>
        {{- end }}
    </main>
{{ end }}
