{{ define "main" }}
    <main class="post">

<!-- Ordered the code so that the post cover would display before the article -->

        <article>
          {{ with .Params.Cover }}
              <img src="/img/{{ . }}" class="post-cover" />
          {{ end }}


            <h1 id="underline">{{ .Title | markdownify }}</h1>

            <!-- adds subtitle to each article -->
            {{- if .Description }}
              <h2>{{ .Description }}</h2>
            {{- end }}

            <!-- adds a timer and date to each article -->
            <ul id="post">
              {{ dateFormat "January 02, 2006" .Date.Local }} • {{ i18n "readingTime" .Page.ReadingTime }}
            </ul>
            {{- if .Params.toc }}


                <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
                <hr />
            {{- end }}



            <div class="post-content">
                {{.Content}}
            </div>
        </article>



        <div class="post-info">
            {{- with .Params.tags }}
          <hr />
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
                    {{- range . -}}
                         <span class="tag"><a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{.}}</a></span>
                    {{- end }}
                </p>
            {{- end }}

              {{ if .IsTranslated }}
                | {{ i18n "postAvailable" }}
                    {{ range .Translations }}
                  <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
                    {{ end}}
                  {{ end }}

        </div>

        {{ if or .NextInSection .PrevInSection }}
            <div class="pagination">
                <div class="pagination__title">
                    <span class="pagination__title-h">{{ .Site.Params.ReadOtherPosts }}</span>
                    <hr />
                </div>

                <div class="pagination__buttons">
                    {{ if .NextInSection }}
                        <span class="button previous">
                            <a href="{{ .NextInSection.Permalink }}">
                                <span class="button__icon">←</span>
                                <span class="button__text">{{ .NextInSection.Title }}</span>
                            </a>
                        </span>
                    {{ end }}


                            <span class="button previous">
                                <a href="/posts#archive">
                                    <span class="button__text">○</span>
                                </a>
                            </span>

                    {{ if .PrevInSection }}
                        <span class="button next">
                            <a href="{{ .PrevInSection.Permalink }}">
                                <span class="button__text">{{ .PrevInSection.Title }}</span>
                                <span class="button__icon">→</span>
                            </a>
                        </span>
                    {{ end }}
                </div>
            </div>
        {{ end }}

        {{ if .Params.comments }}
          <div id="comments" class="thin">
                {{- partial "comments.html" . -}}
            </div>
        {{ end }}
    </main>
{{ end }}
