<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <span>&copy; {{ now.Format "2006" }}</span>
            {{ if .Site.Author.name }}
                <span><a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a></span>
            {{ end }}
            <span><a href="https://open.spotify.com/user/hudsongardner?si=wOM4S_4NSX6Nl5StmqPsZA">Playlists</a></span>
            <span><a href="/who">Contact</a></span>
            <span><a href="/subscribe">Subscribe</a></span>
            <span><a href="https://open.spotify.com/show/0xLswpUQDCjWpnw6fnZv85">Podcast</a></span>
        </div>
    </div>
    <div class="footer__inner">
        <div class="footer__content">

        </div>
    </div>
</footer>
