{{ define "main" }}

<h1 id="underline">Grass Journal</h1>
巻草

<main class="posts">
<hr />

<!-- latest post code  -->
    {{ range first 1 .Pages }}

      <!-- this <div> includes the title summary -->
      <article>


          {{- if .Params.toc }}
              <hr />
              <aside id="toc">
              <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                  {{ .TableOfContents }}
              </aside>
              <hr />
          {{- end }}

          {{ with .Params.Cover }}
              <img src="/img/{{ . }}" class="post-cover" />
          {{ end }}

          <a href="{{.Permalink}}">
          <h1 id="underline">{{ .Title | markdownify }}</h1>
          </a>

          <div class="post-info">

            <p>{{ dateFormat .Site.Params.dateformNumTime .Date.Local }}</p>

          </div>

          <div class="post-content">

              {{ .Content }}

          </div>
      </article>

      {{ end }}

      {{- if .Content }}
          <div class="content">{{ .Content }}</div>
      {{- end }}
    </main>
{{ end }}
