{{ define "main" }}

<h1 id="underline">Grass Journal</h1>
草本
<em>Encountering wilderness</em>

<main class="posts">
<hr />

<!-- latest post code  -->
{{ range first 1 site.RegularPages }}

      <!-- this <div> includes the title summary -->
      <article>

          {{- if .Params.toc }}
              <hr />
              <aside id="toc">
              <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                  {{ .TableOfContents }}
              </aside>
              <hr />
          {{- end }}

          {{ with .Params.Cover }}
              <img src="/img/{{ . }}" class="post-cover" />
          {{ end }}

          <a href="{{.Permalink}}">
          <h1 id="underline">{{ .Title | markdownify }}</h1>
          </a>

          {{- if .Description }}
          <h2>{{ .Description }}</h2>
          {{- end }}


          <div class="post-info">

            <p>{{ dateFormat .Site.Params.dateformNumTime .Date.Local }} • {{ i18n "readingTime" .Page.ReadingTime }}</p>

          </div>

          <div class="post-content">

              {{.Content}}

          </div>
      </article>

      {{ end }}

      {{- if .Content }}
          <div class="content">{{.Content}}</div>
      {{- end }}
</main>

{{ end }}
